*.user
*.user.*

build/
build-*/
build_*/

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
.cmake/

*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.o
*.obj

Thumbs.db
.DS_Store
.vscode/
.idea/